<sl-card class="card-index" id="<%= dom_id prompt %>">
  <div slot="header">
    <strong><%= prompt.title %></strong>
  </div>

  <div class="grid">
    <%= image_tag prompt.data_url, alt: prompt.title %>
    <%= render prompt.predictions %>
  </div>
</sl-card>
