<div id="<%= dom_id prompt %>">
  <p>
    <strong>Title:</strong>
    <%= prompt.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

  <p>
    <strong>Prompt image:</strong>
    <%= prompt.prompt_image %>
  </p>
</div>
