// Entry point for your Sass build
@import "@shoelace-style/shoelace/dist/themes/light";
@import "@picocss/pico/scss/pico";

body {
  font-family: var(--sl-font-sans);
}


sl-card {
  &.card-image {
    @media(min-width: "992px") {
      max-width: 20rem;
    }
  }

  &.card-header [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.card-header h3 {
    margin: 0;
  }

  &.card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
  }
}


@import 'actiontext.css';
