// Entry point for your Sass build
@import "@shoelace-style/shoelace/dist/themes/light";
@import "@picocss/pico/scss/pico";

:root {
  --grid-spacing-vertical: 1rem;
}

body {
  font-family: var(--sl-font-sans);
}

.grid {
  grid-template-columns: repeat(6, minmax(0%, 1fr));
}

sl-card {
  &.card-image {
    @media(min-width: "992px") {
      max-width: 20rem;
    }
  }

  &.card-header [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.card-header h3 {
    margin: 0;
  }

  &.card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
  }
}

em {
  background: yellow;
}

@import 'actiontext.css';
